@keyframes slide-out-x {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes slide-out-y {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}
@keyframes show-hide {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes button-select {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}